{% extends '::settings.html.twig' %}
{% block body %}
<form method="post" action="" {{ form_enctype(form) }}>
{{ form_row(form.name) }}



<ul class="content" data-prototype="{{ form_widget(form.content.vars.prototype)|e }}">
	{% for link in form.content %}
		<li class='deletable'>
			<div id="{{link.id}}">
			<div>
			{{ form_label(link.linkName) }}
			{{ form_widget(link.linkName) }}
			</div>
			<div>
			{{ form_label(link.path) }}
			{{ form_widget(link.path) }}
			</div>
		</li>
	{% endfor %}
	<li class='deletable'>{{ form_widget(form.content.vars.prototype)|e }}</li>
</ul>
{{ form_rest }}
{{ form_row(form.submit) }}

</form>


<script>
	// Récupère le div qui contient la collection de tags
	var collectionHolder = $('ul.content');

	// ajoute un lien « add a tag »
	var $addTagLink = $('<a href="#" class="add_content_link">Add a link</a>');
	var $newLinkLi = $('<li class="deletable"></li>').append($addTagLink);

	jQuery(document).ready(function() {
		// ajoute l'ancre « ajouter un tag » et li à la balise ul
		collectionHolder.append($newLinkLi);
		
		collectionHolder.find('li.deletable').each(function() {
			if ( $(this).children().not('a').length > 0 ) {
				addLinkFormDeleteLink($(this));
			}
		});
		$addTagLink.on('click', function(e) {
			// empêche le lien de créer un « # » dans l'URL
			e.preventDefault();

			// ajoute un nouveau formulaire tag (voir le prochain bloc de code)
			addContentForm(collectionHolder, $newLinkLi);
		});
		
		
	});
	
	function addContentForm(collectionHolder, $newLinkLi) {
		// Récupère l'élément ayant l'attribut data-prototype comme expliqué plus tôt
		var prototype = collectionHolder.attr('data-prototype');

		// Remplace '__name__' dans le HTML du prototype par un nombre basé sur
		// la longueur de la collection courante
		var newForm = prototype.replace(/__name__/g, collectionHolder.children().length);

		// Affiche le formulaire dans la page dans un li, avant le lien "ajouter un tag"
		var $newFormLi = $('<li class="deletable"></li>').append(newForm);
		addLinkFormDeleteLink($newFormLi);
		$newLinkLi.before($newFormLi);
	}
	
	function addLinkFormDeleteLink($tagFormLi) {
		var $removeFormA = $('<a href="#">Supprimer ce tag</a>');
		$tagFormLi.append($removeFormA);

		$removeFormA.on('click', function(e) {
			// empêche le lien de créer un « # » dans l'URL
			e.preventDefault();

			// supprime l'élément li pour le formulaire de tag
			$tagFormLi.remove();
		});
	}
</script>
{% endblock %}