
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a id="dropVarText" role="button" data-toggle="dropdown" href="#">Text <b class="caret"></b></a>
					<ul id="menuText varList" class="dropdown-menu droppable varListText" role="menu" aria-labelledby="dropVarText">
						{% for var in content.CMS_EXISTING_VALUE.text %}
						<span id = "var1" class='draggable varText' style='display: inline-block'>
							<span class="varIdSpan" varId="{{var.value.getId()}}">{{var.value.getValue() | raw}}</span>
						</span>
						<hr>
						{% endfor %}
					</ul>
				</li>
				<li class="dropdown">
					<a id="dropVarImages" role="button" data-toggle="dropdown" href="#">Images <b class="caret"></b></a>
					<ul id="menuText varList" class="dropdown-menu droppable varListImage" role="menu" aria-labelledby="dropVarImages">
						{% for var in content.CMS_EXISTING_VALUE.image %}
						<span id = "var1" class='draggable varImage'>
							{{var.value.getValue() | raw}}
						</span>
						<hr>
						{% endfor %}
						
					</ul>
				</li>
				<li>
					<button id="submit">sub</button>
				</li>
			</ul>
		



<script>
	

	function setDroppable(){
		$(".droppableText").droppable({
			tolerance: "pointer",
			accept : ".varText",
			over: function(){
				$(this).css("background-color","#ff0000");
			},
			out: function(){
				$(this).css("background-color","");
			},
			drop: function(event, ui) {
				var obj = $(this);
				$(this).css("background-color","");
			   $(ui.draggable).click(function(){
					obj.find(".here .old").show();
					$(".varListText").append($(ui.draggable));
					$( ".draggable" ).draggable({
						helper: "clone",
					});
					setDroppable();
			   });
				$(this).find(".here .old").hide();
				$(".varListText").append($(this).find(".here .draggable"));
				$(this).find(".here").append($(ui.draggable));
				setDroppable();
				$( ".draggable" ).draggable({
					helper: "clone",
				});
							
			}
		});
		$(".droppableImage").droppable({
			tolerance: "pointer",
			accept : ".varImage",
			over: function(){
				$(this).css("background-color","#ff0000");
			},
			out: function(){
				$(this).css("background-color","");
			},
			drop: function(event, ui) {
				var obj = $(this);
				$(this).css("background-color","");
				$(ui.draggable).click(function(){
					obj.find(".here .old").show();
					$(".varListImage").append($(ui.draggable));
					$( ".draggable" ).draggable({
						helper: "clone",
					});
					setDroppable();
			   });
				$(this).find(".here .old").hide();
				$(".varListImage").append($(this).find(".here .draggable"));
				$(this).find(".here").append($(ui.draggable));
				setDroppable();
				$( ".draggable" ).draggable({
					helper: "clone",
				});
							
			}
		});
		$(".droppableMenu").droppable({
			tolerance: "pointer",
			accept : ".varMenu",
			drop: function(event, ui) {
				var obj = $(this);
			   $(ui.draggable).click(function(){
					obj.find(".here .old").show();
					$(".varList").append($(ui.draggable));
			   });
				$(this).find(".here .old").hide();
				$(this).find(".here").append($(ui.draggable));
				setDroppable();
				$( ".draggable" ).draggable({
					helper: "clone",
				});
							
			}
		});
	
	};
	$(document).ready(function(){
		$("#submit").click(function(){
			{% for var in content.CMS_EXISTING_VALUE.text %}
				if(typeof $("span[cmsVarName='{{var.varName}}']").find(".varIdSpan").attr("varId") == 'undefined'){
					$("span[cmsVarName='{{var.varName}}']").css("background-color","#00ff00");
				}
			{% endfor %}
		});
		setDroppable();
		$( ".draggable" ).draggable({
			helper: "clone",
		});
	});
</script>