{% if form is defined %}
	
	<form method="POST" {{ form_enctype(form) }} id="form" style="display:inline;">
	<li style="display:inline-block;>{{ form_row(form.pageName) }}</li>
	<li  style="display:inline;">{{ form_row(form.save,{ 'id' : 'saveButton','class' : "btn"}) }}</li>
	
	<div style="display: none; visibility:hidden;">
		<div id="var">
			{% set i = 0 %}
		{% for varForm in form.varList %}
			-<br>
			{{ form_label(varForm) }}
			{{ form_errors(varForm) }}
			{{ form_widget(varForm, { 'id': "form-"~i, 'class' : 'variable' }) }}
			--<br>
			{% set i = i +1 %}
		{% endfor %}
		alert("{{i}}");
		</div>
	</div>	
		{{ form_rest(form) }}
	</form>
	
	
	<script>
	function openMenuList(){
		//$("[cmsId = '"+localStorage.getItem("for")+"']").attr("id",localStorage.getItem("id"));
		alert(localStorage.getItem("id"));
		var left  = ($(window).width()/2)-(900/2),
					top   = ($(window).height()/2)-(600/2),
					popUp = window.open("{{ path('Settings-selectMenuWysiwyg',{"from":"menuVar"}) }}", "select image", "width=900, height=600, top="+top+", left="+left);
	}
	
	$(document).ready(function(){
		$( "a" ).not(".defaultAction").click(function( event ) {
		  event.preventDefault();
		});
		
		$( ".addMenu" ).click(function() {
			openMenuList();
		});
		
		$("#form").submit(function(){
			{% set i = 0 %}
			
			{% for varForm in form.varList %}
				
				if($("#val-{{i}}").attr("class") == "ckeditor"){
					$("#form-{{ i }}").val(CKEDITOR.instances['val-{{ i }}'].getData());
					
				}else if($("#[cmsId = 'val-{{ i }}']").attr("cmsClass") == "editable-img"){
					$("#form-{{ i }}").val("<img src="+$("#[cmsId = 'val-{{ i }}']").attr("src")+" id="+$("#[cmsId = 'val-{{ i }}']").attr("id")+" class="+$("#[cmsId = 'val-{{ i }}']").attr("class")+" width="+$("#[cmsId = 'val-{{ i }}']").attr("width")+" height="+$("#[cmsId = 'val-{{ i }}']").attr("height")+"  cmsClass='editable-img' cmsId='val-{{ i }}' >");
					
					
				}
				{% set i = i +1 %}
			{% endfor %}
			
			});
		});
	</script>
{% endif %}