{% extends '::settings.html.twig' %}

{% block body %}
    <p>get template<p>
	

  <form method="POST"  enctype="multipart/form-data">
		{{ form_row(form.name) }}
		{{ form_label(form.assetsFiles) }}
		{{ form_errors(form.assetsFiles) }}
		
		{% set i = 0 %}
		<ul>
		{% for assetsField in form.assetsFiles %}
			<li>
				{{ form_errors(attribute(form.assets,i)) }}
				{{ form_widget(attribute(form.assets,i)) }}
				{{ form_errors(assetsField) }}
				{{ form_widget(assetsField) }}
				{% set i = i+1 %}
			</li>
		{% endfor %}
		</ul>
		<hr>
		<br>
		{% set i = 0 %}
		<ul>
		{% for imagesField in form.imagesFiles %}
			<li>
				{{ form_errors(attribute(form.images,i)) }}
				{{ form_widget(attribute(form.images,i)) }}
				 is variable : 
				{{ form_errors(attribute(form.imagesIsVar,i)) }}
				{{ form_widget(attribute(form.imagesIsVar,i)) }}
				{{ form_errors(imagesField) }}
				{{ form_widget(imagesField) }}
				{% set i = i+1 %}
			</li>
		{% endfor %}
		</ul>
		<hr>
		{{ form_label(form.variable) }}
		{{ form_errors(form.variable) }}

		<ul>
		{% for varField in form.variable %}
			<li>
				{{ form_errors(varField) }}
				{{ form_widget(varField) }}
			</li>
		{% endfor %}
		</ul>
		
		
		{{form_widget(form.submit)}}
		<hr>
			{{form_rest(form)}}
		<hr>
	</form>

{#
	{{ form(form)}}
#}
		
{% endblock %}

{% block javascripts %}
	<script>
	$(document).ready(function(){
		{% set i = 0 %}
		{% for imagesField in form.imagesFiles %}
			if ($("#form_imagesIsVar_{{i}}").prop('checked')){
				$("#form_imagesFiles_{{i}}").prop('disabled', true);
				$("#form_images_{{i}}").prop('disabled', true);
			}else{
				$("#form_imagesFiles_{{i}}").prop('disabled', false);
				$("#form_images_{{i}}").prop('disabled', false);
			}
			{% set i = i+1 %}
		{% endfor %}
		
		{% set i = 0 %}
		{% for imagesField in form.imagesFiles %}
		$("#form_imagesIsVar_{{i}}").change(function(){
			if ($("#form_imagesIsVar_{{i}}").prop('checked')){
				$("#form_imagesFiles_{{i}}").prop('disabled', true);
				$("#form_images_{{i}}").prop('disabled', true);
			}else{
				$("#form_imagesFiles_{{i}}").prop('disabled', false);
				$("#form_images_{{i}}").prop('disabled', false);
			}
		});
			{% set i = i+1 %}
		{% endfor %}
	});
	</script>
{% endblock %}