<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Escalier 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20131022

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

{% include 'CmsWebSiteBundle:WebSite:default/includes/includes.html.twig' %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<script type="text/javascript" src="{{ asset('../web/uploads/assets/escalier/js/jquery-1.7.1.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('../web/uploads/assets/escalier/js/jquery.slidertron-1.3.js') }}"></script>
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="{{ asset('../web/uploads/assets/escalier/css/default.css') }}" rel="stylesheet" type="text/css" media="all" />
<link href="{{ asset('../web/uploads/assets/escalier/css/fonts.css') }}" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="{{ asset('../web/uploads/assets/escalier/css/default_ie6.css') }}" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>

{% include 'CmsWebSiteBundle:WebSite:default/includes/menu/adminTopBar.html.twig' %}<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">Escalier</a></h1>
			<span>By <a href="http://www.freecsstemplates.org/">FreeCSSTemplates.org</a></span>
		</div>
		<div id="menu">
			<ul>
				<li class="current_page_item"><a href="#" accesskey="1" title="">Homepage</a></li>
				<li><a href="#" accesskey="2" title="">Our Clients</a></li>
				<li><a href="#" accesskey="3" title="">About Us</a></li>
				<li><a href="#" accesskey="4" title="">Careers</a></li>
				<li><a href="#" accesskey="5" title="">Contact Us</a></li>
			</ul>
		</div>
	</div>
</div>
<div id="header-featured"> </div>
<div id="banner-wrapper">
	<div id="banner" class="container">
		<p>This is <strong>Escalier</strong>, a free, fully standards-compliant CSS template designed by <a href="http://www.freecsstemplates.org/" rel="nofollow">FreeCSSTemplates.org</a>. The photos in this template are from <a href="http://fotogrph.com/"> Fotogrph</a>. This free template is released under a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attributions 3.0</a> license, so you are pretty much free to do whatever you want with it (even use it commercially) provided you keep the links in the footer intact. Aside from that, have fun with it :) </p>
	</div>
</div>
<div id="wrapper">
	<div id="featured-wrapper">
		<div id="featured" class="container">
			<div class="column1"> <span class="icon icon-key"></span>
				<div class="title">
					<h2>{{ title1|raw}}</h2>
				</div>
				<p>{{ subtitle1|raw }}</p>
			</div>
			<div class="column2"> <span class="icon icon-legal"></span>
				<div class="title">
					<h2>{{ title2|raw}}</h2>
				</div>
				<p>{{ subtitle2|raw }}</p>
			</div>
			<div class="column3"> <span class="icon icon-unlock"></span>
				<div class="title">
					<h2>{{ title3|raw}}</h2>
				</div>
				<p>{{ subtitle3|raw }}</p>
			</div>
			<div class="column4"> <span class="icon icon-wrench"></span>
				<div class="title">
					<h2>{{ title4|raw}}</h2>
				</div>
				<p>{{ subtitle4|raw }}</p>
			</div>
		</div>
		<div id="extra" class="container">
			<h2>Maecenas vitae orci vitae tellus feugiat eleifend</h2>
			<span>Quisque dictum integer nisl risus, sagittis convallis, rutrum id, congue, and nibh</span> </div>
			
		<div id="extra2" class="container">
			<div id="ebox1">
				<div class="title">
					<h2>{{ extra11|raw}}</h2>
					<span class="byline">{{ extra12|raw}}</span>
				</div>
				<p>{{ extra13|raw}}</p>
				<a href="#" class="button">Etiam posuere</a>
			</div>		

			<div id="ebox2">
				<div class="title">
					<h2>Donec dictum metus</h2>
					<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span>
				</div>
				<p>Integer nisl risus, sagittis convallis, rutrum id, elementum congue, nibh. Suspendisse dictum porta lectus. Donec placerat odio vel elit. Nullam ante orci, pellentesque eget, tempus quis, ultrices in, est. Sed vel tellus. Curabitur sem urna, consequat vel, suscipit in, mattis placerat, nulla. Sed ac leo. Pellentesque imperdiet.</p>
				<a href="#" class="button">Etiam posuere</a>
			</div>		

		</div>	

	</div>
</div>
<div id="copyright" class="container">
	<p>Copyright (c) 2013 Sitename.com. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://www.freecsstemplates.org/" rel="nofollow">FreeCSSTemplates.org</a>.</p>
</div>
</body>
</html>
